html
  head
    title Satvik Dance Academy
    block scripts
    block style
  Body
    nav#navbar
                ul
                    div#logo
                        img(src="/static/img/logo.png")
                    li #[a(href="/") Home]
                    li #[a(href="/") About]
                    li #[a(href="/") Services]
                    li #[a(href="/") Class Info]
                    li #[a(href="/contactus") Contact Us]

    block content
    block foot
      #footer
            div  
                strong Copyright 
                    | Satvik Dance Academy © 2022